*{
    box-sizing: border-box;
}

.responsive-form {
    display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 600px;
  width: 100%;
  border-radius: 4px;
  border: 2px solid #04AA6D;;
  background-color:bisque;
  padding: 20px;
}